<div class="row">
  <div class="col s12 m4"><%= image_tag('field_notes.jpeg',class: 'responsive-img') %></div>
  <div class="col s12 m8"><%= image_tag('books.jpeg',class: 'responsive-img') %></div>
  <div class="col s12 m8"><p class="flow-text">: an alternative to the dating sites.</p> </div>
</div>
