<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s12 l6">
        <p>© 2014 Copyright Text</p>
      </div>
      <div class="col s12 l6">
        <p class="valign-wrapper right"><i class="material-icons">phone</i>354.654.7645 &nbsp;&nbsp;<i class="material-icons">email</i>ish-date@dating.com</p>
      </div>
    </div>
  </div>
</footer>
